<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>HomeChain - Education &amp; Courses Template | Home</title>

    <!-- Favicon -->
    <link rel="icon" href="../public/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="spinner"></div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="clever-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="cleverNav">

                <!-- Logo -->
                <a class="nav-brand" href="/"><img src="../public/img/core-img/logo3.png" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/">홈</a></li>
                            <li><a href="/addpost">글 작성</a></li>
                            <li><a href="/listpost">글 목록</a></li>
                            <li><a href="/registerToken">인증서 등록</a></li>
                            <li><a href="/mypage">마이페이지</a></li>

                        </ul>

                        <!-- Search Button -->
                        <div class="search-area" style="width: 400px">
                            <form action="#" method="post">
                            </form>
                        </div>

                        <!-- Register / Login -->
                        <% if (!login_success) { %>
                            <div class="register-login-area">
                                <a href="/signup" class="btn">Register</a>
                                <a href="/login" class="btn">Login</a>
                            </div>
                        <% } else { %>
                            <div class="login-state d-flex align-items-center">
                                <div class="user-name mr-30">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="userName"
                                           data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false"><%= user.id %></a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userName">
                                            <a class="dropdown-item" href="/mypage">My Page</a>
                                            <a class="dropdown-item" href="/logout">Logout</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="userthumb">
                                    <img src="../public/img/bg-img/t1.png" alt="">
                                </div>
                            </div>
                        <% } %>

                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Single Course Intro Start ##### -->
<div class="single-course-intro d-flex align-items-center justify-content-center"
     style="background-image: url(../public/img/bg-img/house2.jpg);">
    <!-- Content -->
    <div class="single-course-intro-content text-center box shadow">
        <!-- Ratings -->
        <!--<div class="ratings">-->
        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
        <!--<i class="fa fa-star" aria-hidden="true"></i>-->
        <!--<i class="fa fa-star-o" aria-hidden="true"></i>-->
        <!--</div>-->
        <%= console.log("posts의 내용: " + posts); %>
        <%= console.log("posts._doc의 내용: " + posts._doc); %>

        <h5><%= posts.title %></h5>
        <div class="meta d-flex align-items-center justify-content-center">
            <a><%= posts.writer.id %></a>
            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
            <a><%= posts.writer.name %></a>
        </div>
        <div>목표금: <%= posts.goal_fund %>만원</div>
    </div>
</div>
<!-- ##### Single Course Intro End ##### -->

<!-- ##### Courses Content Start ##### -->
<div class="single-course-content section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 ">
                <div class="course--content">

                    <div class="clever-tabs-content">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab--1" data-toggle="tab" href="#tab1" role="tab"
                                   aria-controls="tab1" aria-selected="false">개발내역</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab--2" data-toggle="tab" href="#tab2" role="tab"
                                   aria-controls="tab2" aria-selected="true">인 / 허가</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab--3" data-toggle="tab" href="#tab3" role="tab"
                                   aria-controls="tab3" aria-selected="true">수익성 분석</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab--4" data-toggle="tab" href="#tab4" role="tab"
                                   aria-controls="tab4" aria-selected="true">계약 지침</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab--5" data-toggle="tab" href="#tab5" role="tab"
                                   aria-controls="tab5" aria-selected="true">시행사 정보</a>
                            </li>
                            <!--<li class="nav-item">-->
                                <!--<a class="nav-link" id="tab&#45;&#45;6" data-toggle="tab" href="#tab6" role="tab"-->
                                   <!--aria-controls="tab6" aria-selected="true">토지 정보</a>-->
                            <!--</li>-->
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <!-- Tab Text -->
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                                <div class="clever-description">

                                    <!-- About Course -->
                                    <div class="about-course mb-30">
                                        <div class="container"><h4>개발내역</h4>
                                            <a href="http://<%= posts.link1 %>" target="_blank"><p><%= posts.link1 %></p></a></div>

                                    </div>
                                </div>
                            </div>

                            <!-- Tab Text -->
                            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                                <div class="clever-curriculum">

                                    <!-- About Curriculum -->
                                    <div class="about-curriculum mb-30">
                                        <h4>인 / 허가</h4>
                                        <a href="http://<%= posts.link2 %>" target="_blank"><p><%= posts.link2 %></p></a>
                                    </div>

                                    <!--&lt;!&ndash; Curriculum Level &ndash;&gt;-->
                                    <!--<div class="curriculum-level mb-30">-->
                                        <!--<h4 class="d-flex justify-content-between"><span>Week 1</span> <span>0/4</span>-->
                                        <!--</h4>-->
                                        <!--<h5>Beginners Level</h5>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla,-->
                                            <!--mollis eu metus in, sagittis fringilla.</p>-->

                                        <!--<ul class="curriculum-list">-->
                                            <!--<li><i class="fa fa-file" aria-hidden="true"></i> 1 video, 1 audio, 1-->
                                                <!--reading-->
                                                <!--<ul>-->
                                                    <!--<li>-->
                                                        <!--<span><i class="fa fa-video-camera" aria-hidden="true"></i> Video: <span>Greetings and Introductions</span></span>-->
                                                        <!--<span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>-->
                                                    <!--</li>-->
                                                    <!--<li>-->
                                                        <!--<span><i class="fa fa-file-text" aria-hidden="true"></i> Reading: <span>Word Types</span></span>-->
                                                        <!--<span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>-->
                                                    <!--</li>-->
                                                    <!--<li>-->
                                                        <!--<span><i class="fa fa-volume-down" aria-hidden="true"></i> Audio: <span>Listening Exercise</span></span>-->
                                                        <!--<span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>-->
                                                    <!--</li>-->
                                                <!--</ul>-->
                                            <!--</li>-->
                                            <!--<li class="d-flex justify-content-between">-->
                                                <!--<span><i class="fa fa-graduation-cap" aria-hidden="true"></i> Graded: Cumulative Language Quiz</span>-->
                                                <!--<span>3 Questions</span>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->

                                    <!--&lt;!&ndash; Curriculum Level &ndash;&gt;-->
                                    <!--<div class="curriculum-level mb-30">-->
                                        <!--<h4 class="d-flex justify-content-between"><span>Week 2</span> <span>0/5</span>-->
                                        <!--</h4>-->
                                        <!--<h5>Intermediate Level</h5>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla,-->
                                            <!--mollis eu metus in, sagittis fringilla.</p>-->

                                        <!--<ul class="curriculum-list">-->
                                            <!--<li><i class="fa fa-file" aria-hidden="true"></i> 1 video, 1 audio, 1-->
                                                <!--reading-->
                                                <!--<ul>-->
                                                    <!--<li>-->
                                                        <!--<span><i class="fa fa-video-camera" aria-hidden="true"></i> Video: <span>Greetings and Introductions</span></span>-->
                                                        <!--<span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>-->
                                                    <!--</li>-->
                                                    <!--<li>-->
                                                        <!--<span><i class="fa fa-file-text" aria-hidden="true"></i> Reading: <span>Word Types</span></span>-->
                                                        <!--<span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>-->
                                                    <!--</li>-->
                                                    <!--<li>-->
                                                        <!--<span><i class="fa fa-volume-down" aria-hidden="true"></i> Audio: <span>Listening Exercise</span></span>-->
                                                        <!--<span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>-->
                                                    <!--</li>-->
                                                <!--</ul>-->
                                            <!--</li>-->
                                            <!--<li class="d-flex justify-content-between">-->
                                                <!--<span><i class="fa fa-graduation-cap" aria-hidden="true"></i> Graded: Cumulative Language Quiz</span>-->
                                                <!--<span>3 Questions</span>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                </div>
                            </div>

                            <!-- Tab Text -->
                            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab--3">
                                <div class="clever-review">

                                    <!-- About Review -->
                                    <div class="about-review mb-30">
                                        <h4>수익성 분석</h4>
                                        <a href="http://<%= posts.link3 %>" target="_blank"><p><%= posts.link3 %></p></a>
                                    </div>

                                    <!--&lt;!&ndash; Ratings &ndash;&gt;-->
                                    <!--<div class="clever-ratings d-flex align-items-center mb-30">-->

                                        <!--<div class="total-ratings text-center d-flex align-items-center justify-content-center">-->
                                            <!--<div class="ratings-text">-->
                                                <!--<h2>4.5</h2>-->
                                                <!--<div class="ratings&#45;&#45;">-->
                                                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                                    <!--<i class="fa fa-star-half-o" aria-hidden="true"></i>-->
                                                <!--</div>-->
                                                <!--<span>Rated 5 out of 3 Ratings</span>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="rating-viewer">-->
                                            <!--&lt;!&ndash; Rating &ndash;&gt;-->
                                            <!--<div class="single-rating mb-15 d-flex align-items-center">-->
                                                <!--<span>5 STARS</span>-->
                                                <!--<div class="progress">-->
                                                    <!--<div class="progress-bar" role="progressbar" style="width: 80%"-->
                                                         <!--aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>-->
                                                <!--</div>-->
                                                <!--<span>80%</span>-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash; Rating &ndash;&gt;-->
                                            <!--<div class="single-rating mb-15 d-flex align-items-center">-->
                                                <!--<span>4 STARS</span>-->
                                                <!--<div class="progress">-->
                                                    <!--<div class="progress-bar" role="progressbar" style="width: 20%"-->
                                                         <!--aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>-->
                                                <!--</div>-->
                                                <!--<span>20%</span>-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash; Rating &ndash;&gt;-->
                                            <!--<div class="single-rating mb-15 d-flex align-items-center">-->
                                                <!--<span>3 STARS</span>-->
                                                <!--<div class="progress">-->
                                                    <!--<div class="progress-bar" role="progressbar" style="width: 0%"-->
                                                         <!--aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>-->
                                                <!--</div>-->
                                                <!--<span>0%</span>-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash; Rating &ndash;&gt;-->
                                            <!--<div class="single-rating mb-15 d-flex align-items-center">-->
                                                <!--<span>2 STARS</span>-->
                                                <!--<div class="progress">-->
                                                    <!--<div class="progress-bar" role="progressbar" style="width: 0%"-->
                                                         <!--aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>-->
                                                <!--</div>-->
                                                <!--<span>0%</span>-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash; Rating &ndash;&gt;-->
                                            <!--<div class="single-rating mb-15 d-flex align-items-center">-->
                                                <!--<span>1 STARS</span>-->
                                                <!--<div class="progress">-->
                                                    <!--<div class="progress-bar" role="progressbar" style="width: 0%"-->
                                                         <!--aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>-->
                                                <!--</div>-->
                                                <!--<span>0%</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--&lt;!&ndash; Single Review &ndash;&gt;-->
                                    <!--<div class="single-review mb-30">-->
                                        <!--<div class="d-flex justify-content-between mb-30">-->
                                            <!--&lt;!&ndash; Review Admin &ndash;&gt;-->
                                            <!--<div class="review-admin d-flex">-->
                                                <!--<div class="thumb">-->
                                                    <!--<img src="../public/img/bg-img/t1.png" alt="">-->
                                                <!--</div>-->
                                                <!--<div class="text">-->
                                                    <!--<h6>Sarah Parker</h6>-->
                                                    <!--<span>Sep 29, 2017 at 9:48 am</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash; Ratings &ndash;&gt;-->
                                            <!--<div class="ratings">-->
                                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla,-->
                                            <!--mollis eu metus in, sagittis.</p>-->
                                    <!--</div>-->

                                    <!--&lt;!&ndash; Single Review &ndash;&gt;-->
                                    <!--<div class="single-review mb-30">-->
                                        <!--<div class="d-flex justify-content-between mb-30">-->
                                            <!--&lt;!&ndash; Review Admin &ndash;&gt;-->
                                            <!--<div class="review-admin d-flex">-->
                                                <!--<div class="thumb">-->
                                                    <!--<img src="../public/img/bg-img/t1.png" alt="">-->
                                                <!--</div>-->
                                                <!--<div class="text">-->
                                                    <!--<h6>Sarah Parker</h6>-->
                                                    <!--<span>Sep 29, 2017 at 9:48 am</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash; Ratings &ndash;&gt;-->
                                            <!--<div class="ratings">-->
                                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                                <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla,-->
                                            <!--mollis eu metus in, sagittis.</p>-->
                                    <!--</div>-->
                                </div>
                            </div>

                            <!-- Tab Text -->
                            <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab--4">
                                <div class="clever-members">

                                    <!-- About Members -->
                                    <div class="about-members mb-30">
                                        <h4>계약 지침</h4>
                                        <a href="http://<%= posts.link4 %>" target="_blank"><p><%= posts.link4 %></p></a>
                                    </div>

                                    <!-- All Members -->
                                    <!--<div class="all-instructors mb-30">-->
                                        <!--<div class="row">-->
                                            <!--&lt;!&ndash; Single Members &ndash;&gt;-->
                                            <!--<div class="col-lg-6">-->
                                                <!--<div class="single-instructor d-flex align-items-center mb-30">-->
                                                    <!--<div class="instructor-thumb">-->
                                                        <!--<img src="../public/img/bg-img/t1.png" alt="">-->
                                                    <!--</div>-->
                                                    <!--<div class="instructor-info">-->
                                                        <!--<h5>Sarah Parker</h5>-->
                                                        <!--<span>Teacher</span>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--&lt;!&ndash; Single Members &ndash;&gt;-->
                                            <!--<div class="col-lg-6">-->
                                                <!--<div class="single-instructor d-flex align-items-center mb-30">-->
                                                    <!--<div class="instructor-thumb">-->
                                                        <!--<img src="../public/img/bg-img/t2.png" alt="">-->
                                                    <!--</div>-->
                                                    <!--<div class="instructor-info">-->
                                                        <!--<h5>Sarah Parker</h5>-->
                                                        <!--<span>Teacher</span>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--&lt;!&ndash; Single Members &ndash;&gt;-->
                                            <!--<div class="col-lg-6">-->
                                                <!--<div class="single-instructor d-flex align-items-center mb-30">-->
                                                    <!--<div class="instructor-thumb">-->
                                                        <!--<img src="../public/img/bg-img/t3.png" alt="">-->
                                                    <!--</div>-->
                                                    <!--<div class="instructor-info">-->
                                                        <!--<h5>Sarah Parker</h5>-->
                                                        <!--<span>Teacher</span>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--&lt;!&ndash; Single Members &ndash;&gt;-->
                                            <!--<div class="col-lg-6">-->
                                                <!--<div class="single-instructor d-flex align-items-center mb-30">-->
                                                    <!--<div class="instructor-thumb">-->
                                                        <!--<img src="../public/img/bg-img/t4.png" alt="">-->
                                                    <!--</div>-->
                                                    <!--<div class="instructor-info">-->
                                                        <!--<h5>Sarah Parker</h5>-->
                                                        <!--<span>Teacher</span>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--&lt;!&ndash; Single Members &ndash;&gt;-->
                                            <!--<div class="col-lg-6">-->
                                                <!--<div class="single-instructor d-flex align-items-center mb-30">-->
                                                    <!--<div class="instructor-thumb">-->
                                                        <!--<img src="../public/img/bg-img/t1.png" alt="">-->
                                                    <!--</div>-->
                                                    <!--<div class="instructor-info">-->
                                                        <!--<h5>Sarah Parker</h5>-->
                                                        <!--<span>Teacher</span>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--&lt;!&ndash; Single Members &ndash;&gt;-->
                                            <!--<div class="col-lg-6">-->
                                                <!--<div class="single-instructor d-flex align-items-center mb-30">-->
                                                    <!--<div class="instructor-thumb">-->
                                                        <!--<img src="../public/img/bg-img/t2.png" alt="">-->
                                                    <!--</div>-->
                                                    <!--<div class="instructor-info">-->
                                                        <!--<h5>Sarah Parker</h5>-->
                                                        <!--<span>Teacher</span>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--&lt;!&ndash; Single Members &ndash;&gt;-->
                                            <!--<div class="col-lg-6">-->
                                                <!--<div class="single-instructor d-flex align-items-center mb-30">-->
                                                    <!--<div class="instructor-thumb">-->
                                                        <!--<img src="../public/img/bg-img/t3.png" alt="">-->
                                                    <!--</div>-->
                                                    <!--<div class="instructor-info">-->
                                                        <!--<h5>Sarah Parker</h5>-->
                                                        <!--<span>Teacher</span>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--&lt;!&ndash; Single Members &ndash;&gt;-->
                                            <!--<div class="col-lg-6">-->
                                                <!--<div class="single-instructor d-flex align-items-center mb-30">-->
                                                    <!--<div class="instructor-thumb">-->
                                                        <!--<img src="../public/img/bg-img/t4.png" alt="">-->
                                                    <!--</div>-->
                                                    <!--<div class="instructor-info">-->
                                                        <!--<h5>Sarah Parker</h5>-->
                                                        <!--<span>Teacher</span>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>

                            <!-- Tab Text -->
                            <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab--5">
                                <div class="clever-review">

                                    <!-- About Review -->
                                    <div class="about-review mb-30">
                                        <h4>시행사 정보</h4>
                                        <a href="http://<%= posts.link5 %>" target="_blank"><p><%= posts.link5 %></p></a>
                                    </div>


                                </div>
                            </div>
                                        <!--<p><%= posts.fileName %></p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="course-sidebar">
                    <!-- Buy Course -->
                    <a href="/registerToken" class="btn clever-btn mb-30 w-100">투자 인증서 등록</a>
                    <a href="/showpost/download/<%= paramId %>" style="background-color: #1abc9c;" class="btn clever-btn mb-30 w-100">토지 내역 확인</a>
                    <% if (master == 1) {%>
                        <a href="/registerConstructor" style="background-color: #96d650;" class="btn clever-btn mb-30 w-100">시공사 등록</a>
                    <% }
                        else if (master ==2) { %>
                        <a href="/registerConstructor" style="background-color: #96d650;" class="btn clever-btn mb-30 w-100">시공사 등록 완료</a>
                    <% }
                    %>
                    <!-- Widget -->
                    <div class="sidebar-widget">
                        <h4>상세 내용</h4>
                        <ul class="features-list">
                            <li>
                                <%
                                    var deadline = posts.duration;
                                    var now = new Date();
                                    var gap = (deadline.getTime() - now.getTime()) / (1000*60*60*24);
                                %>
                                <h6><i class="fa fa-clock-o" aria-hidden="true"></i> 남은 기한</h6>
                                <% if (Math.ceil(gap) > 1) { %>
                                <h6><%= Math.ceil(gap) %>일</h6>
                                <% } else if (Math.ceil(gap) == 1) {
                                    deadline.setHours(deadline.getHours() - 9 - now.getHours());
                                    deadline.setMinutes(deadline.getMinutes() - now.getMinutes());
                                %>
                                <h6><%= deadline.getHours() %>시간 <%= deadline.getMinutes() %>분</h6>
                                <% } else { %>
                                   <h6>마감</h6>
                                <% } %>

                            </li>
                            <!--<li>-->
                                <!--<h6><i class="fa fa-bell" aria-hidden="true"></i> Lectures</h6>-->
                                <!--<h6>10</h6>-->
                            <!--</li>-->
                            <li>
                                <h6><i class="fa fa-file" aria-hidden="true"></i> 목표 금액</h6>
                                <h6><%= fundingGoalMoney %>만원</h6>
                            </li>
                            <li>
                                <h6><i class="fa fa-file" aria-hidden="true"></i> 모금액</h6>
                                <h6><%= amountRaised %>만원</h6>
                            </li>
                            <li>
                                <h6><i class="fa fa-file" aria-hidden="true"></i> 목표까지 </h6>
                                <h6><%= (fundingGoalMoney - amountRaised) %>만원</h6>
                            </li>
                            <li>
                                <h6><i class="fa fa-file" aria-hidden="true"></i> 현재 투자자 </h6>
                                <h6><%= interestedPersonsNumber %>명</h6>
                            </li>
                            <li>
                                <h6><i class="fa fa-file" aria-hidden="true"></i> 상태</h6>
                                <h6><%= state %></h6>
                            </li>
                            <li>
                                <h6><i class="fa fa-file" aria-hidden="true"></i> 시공사</h6>
                                <h6><%= buildingConstructor %></h6>
                            </li>
                            <!--<li>-->
                                <!--<h6><i class="fa fa-thumbs-up" aria-hidden="true"></i> Pass Percentage</h6>-->
                                <!--<h6>60</h6>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<h6><i class="fa fa-thumbs-down" aria-hidden="true"></i> Max Retakes</h6>-->
                                <!--<h6>5</h6>-->
                            <!--</li>-->
                        </ul>
                    </div>

                    <!-- Widget -->
                    <!--<div class="sidebar-widget">-->
                        <!--<h4>Certification</h4>-->
                        <!--<img src="../public/img/bg-img/cer.png" alt="">-->
                    <!--</div>-->

                    <!-- Widget -->
                    <!--<div class="sidebar-widget">-->
                        <!--<h4>You may like</h4>-->

                        <!--&lt;!&ndash; Single Courses &ndash;&gt;-->
                        <!--<div class="single&#45;&#45;courses d-flex align-items-center">-->
                            <!--<div class="thumb">-->
                                <!--<img src="../public/img/bg-img/yml.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="content">-->
                                <!--<h5>Vocabulary</h5>-->
                                <!--<h6>$20</h6>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--&lt;!&ndash; Single Courses &ndash;&gt;-->
                        <!--<div class="single&#45;&#45;courses d-flex align-items-center">-->
                            <!--<div class="thumb">-->
                                <!--<img src="../public/img/bg-img/yml2.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="content">-->
                                <!--<h5>Expository writing</h5>-->
                                <!--<h6>$45</h6>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--&lt;!&ndash; Single Courses &ndash;&gt;-->
                        <!--<div class="single&#45;&#45;courses d-flex align-items-center">-->
                            <!--<div class="thumb">-->
                                <!--<img src="../public/img/bg-img/yml3.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="content">-->
                                <!--<h5>Vocabulary</h5>-->
                                <!--<h6>$20</h6>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Courses Content End ##### -->

<!-- ##### Footer Area Start ##### -->
<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <!-- Top Footer Area -->
    <div class="top-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a href="/" style="color: white;font-size: x-large;font-family: Arial">home & Chain</a>
                    </div>
                    <!-- Copywrite -->
                    <p><a href="#">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area d-flex justify-content-between align-items-center">
        <!-- Contact Info -->
        <div class="contact-info">
            <a href="#"><span>Phone:</span> +44 010 1111 2222</a>
            <a href="#"><span>Email:</span> info@google.com</a>
        </div>
        <!-- Follow Us -->
        <div class="follow-us">
            <span>Follow us</span>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="../public/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="../public/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="../public/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="../public/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="../public/js/active.js"></script>
<script>
    $(document).ready(function () {
        var output = $("#contentsOutput").text();
        console.log('output : ' + output);

        $("#contentsOutput").html(output);

    });
</script>
</body>

</html>